$color-main-bg: #F7F7F7;
$color-footer-bg: #373A3F;

$color-home-box: #FF6D00;
$color-home-text: white;
$color-footer-text: white;

$color-footer-button: #2687B7;

$break-small: 320px;
$break-large: 1200px;
