@import "../theme/variables.scss";
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.search-box {

  background-color: $color-home-box;
  height: 90vh;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  p {
    color: $color-home-text;
  }

  .row {
    width: auto;

    .title {
      font-size: 2.5em;
    }

    .tag-primary {
      font-size: 1.5em;
    }

    .tag-secondary {
      font-size: 1em;
    }

    .inputs {

      * {
        box-sizing: border-box;
      }

      margin: auto;
      max-width: 70%;


      input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid white;
        float: left;
        width: 90%;
        //background: #f1f1f1;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      button {
        float: left;
        width: 10%;
        padding: 10px;
        background: black;
        color: white;
        font-size: 1.063em;
        border: 1px solid black;
        border-left: none;
        cursor: pointer;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      button:hover {
        background: grey;
      }

      form::after {
        content: "";
        clear: both;
        display: table;
      }

    }
  }

}

.result {
  margin: 5%;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 8%;

  img {
    margin: 5px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);

    max-width: 20vw;

  }

  @media screen and (max-width: $break-small) {
    img {
      max-width: 80vw;
    }
  }

  @media screen and (min-width: $break-large) {
    img {
      max-width: 20vw;
    }
  }

}

.bottom-nav {
  background-color: $color-footer-bg;
  color: $color-footer-text;

  max-width: 100%;
  height: 30vh;

  * {
    box-sizing: border-box;
  }

  margin: auto;

  .left {

    width: 40%;
    height: 100%;
    float: left;

    display: flex;
    align-items: left;
    justify-content: center;

    .row {
      margin: auto
    }

    input[type=text] {
      padding: 10px;
      font-size: 1em;
      border: 1px solid gray;
      width: 100%;
      background: transparent;
      border-radius: 5px;
    }

    button {
      width: 100%;
      padding: 10px;
      background: $color-footer-button;
      color: white;
      font-size: 1.063em;
      border: 1px solid $color-footer-button;
      cursor: pointer;
      border-radius: 5px;
      margin-top: 2%;
    }

  }

  .title {
    padding-top: 15px;
    font-weight: 500;
  }

  .right {

    width: 60%;
    height: 70%;

    display: flex;
    align-items: left;
    justify-content: center;

    .col {
      width: 25%;
    }

    .link {
      padding: 5px;
      margin: 0px;
      font-size: 0.8em;
    }

  }
}

.footer{

  margin-left: 3%;

  .links{
    font-size: 0.8em;
  }
  .copyright{
    font-size: 0.6em;
  }
}
