<div class="search-box">

  <div class="row">

    <p class="title">Gif Search</p>

    <!-- <input type="text" placeholder="What are you looking for?">
      <input type="submit"> -->

    <div class="inputs">
      <form>
        <input type="text" placeholder="What are you looking for?" name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>

    <p class="tag-primary">You can search any gif with our search</p>
    <p class="tag-secondary">Everything you need for your creative projects. websites, banners, presentations,
      magazines and advertising.</p>

  </div>

</div>
